<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="includes/header">
    <title>Home</title>
</head>
<body>
<nav th:replace="includes/navbar :: navbar"></nav>

<a th:href="@{/home}">Home</a>
<div class="container m-5 p-2 rounded mx-auto bg-light shadow">
    <!-- App title section -->
    <div class="row m-1 p-4">
        <div class="col">
            <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
                <i class="fa fa-check bg-primary text-white rounded p-2"></i>
                <u style="text-decoration: none">Task Manager</u>
            </div>
        </div>
    </div>
    <!-- Create todo section -->
    <div class="row m-1 p-3">
        <div class="col col-11 mx-auto">
            <form th:action="@{/save-task}" method="post"  th:object="${task}">
                <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center" >
                    <div class="col">
                        <input class="form-control form-control-lg border-1 add-todo-input bg-transparent rounded" type="text" required th:field="*{title}" placeholder="Task Title">
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg border-1 add-todo-input bg-transparent rounded" type="text" required th:field="*{description}" placeholder="Description">
                    </div>
                    <!--                <div class="col-auto m-0 px-2 d-flex align-items-center">-->
                    <!--                    <label class="text-secondary my-2 p-0 px-1 view-opt-label due-date-label d-none">Due date not set</label>-->
                    <!--                    <i class="fa fa-calendar my-2 px-1 text-primary btn due-date-button" data-toggle="tooltip" data-placement="bottom" title="Set a Due date"></i>-->
                    <!--                    <i class="fa fa-calendar-times-o my-2 px-1 text-danger btn clear-due-date-button d-none" data-toggle="tooltip" data-placement="bottom" title="Clear Due date"></i>-->
                    <!--                </div>-->
                    <div class="col-auto px-0 mx-0 mr-2">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="p-2 mx-4 border-black-25 border-bottom"></div>
    <!-- View options section -->
    <div class="row m-1 p-3 px-5 justify-content-end">
        <div class="col-auto d-flex align-items-center">
            <label class="text-secondary my-2 pr-2 view-opt-label">Filter</label>
            <select class="custom-select custom-select-sm btn my-2">
                <option value="ALL" selected>All</option>
                <option value="COMPLETED">Completed</option>
                <option value="NOT_COMPLETED">Not Completed</option>
                <option value="PENDING">Pending</option>
                <option value="IN_PROGRESS">In Progress</option>
<!--                <option value="has-due-date">Has due date</option>-->
            </select>
        </div>
        <div class="col-auto d-flex align-items-center px-1 pr-3">
            <label class="text-secondary my-2 pr-2 view-opt-label">Sort</label>
            <select class="custom-select custom-select-sm btn my-2">
                <option value="added-date-asc" selected>Added date</option>
                <option value="due-date-desc">Due date</option>
            </select>
            <i class="fa fa fa-sort-amount-asc text-info btn mx-0 px-0 pl-1" data-toggle="tooltip" data-placement="bottom" title="Ascending"></i>
            <i class="fa fa fa-sort-amount-desc text-info btn mx-0 px-0 pl-1 d-none" data-toggle="tooltip" data-placement="bottom" title="Descending"></i>
        </div>
    </div>
    <!-- Todo list section -->
    <div class="row mx-1 px-5 pb-3 w-80">
        <div class="col mx-auto">
            <!-- Todo Item 1 -->

            <!-- Todo Item 2 -->

            <!-- Todo Item 3 -->
            <table class="table table-light" style="width:100%" >
                <thead>
                <tr>
                    <th scope="col" style="width: 10%">Title</th>
                    <th scope="col" style="width: 19%">Description</th>
                    <th scope="col" style="width: 15%">Start</th>
                    <th scope="col" style="width: 15%">Updated</th>
                    <th scope="col" style="width: 15%">Completed</th>
                    <th scope="col" style="width: 10%">Status</th>
                    <th scope="col" style="width: 8%">Edit</th>
                    <th scope="col" style="width: 8%">Delete</th>
                </tr>
                </thead>
                <tbody  th:each = "eachtask: ${alltasks}">
                <tr>
                    <td style="width: 10%" th:text="${eachtask.getTitle()}"></td>
                    <td style="width: 19%" th:text="${eachtask.getDescription()}"></td>
                    <td style="width: 15%" th:text="${eachtask.getCreatedTime().toString()}"></td>
                    <td style="width: 15%" th:text="${eachtask.getUpdateTime().toString()}"></td>
                    <td style="width: 15%" th:text="${eachtask.getCompletedTime().toString()}"></td>
                    <td style="width: 10%" th:text="${eachtask.getStatus().toString()}">
                    </td>
                    <td style="width: 8%">
                        <div class="col-auto px-0 mx-3 mr-2">
                            <a class="btn btn-primary"  th:href="@{update-task/{id}(id=${eachtask.getTask_id()})}">Edit</a>
                        </div>
                    </td >
                    <td style="width: 8%">
                        <div class="col-auto px-0 mx-0 mr-2">
                           <a class="btn btn-danger" th:href="@{delete-task/{id}(id=${eachtask.getTask_id()})}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="">
                <label class="label"><h5>Delete all Tasks</h5></label>
                <div class="col-auto px-0 mx-0 mr-2">
                    <a class="btn btn-danger" th:href="@{/delete-all-task}">Delete All Tasks</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="includes/footer"></div>
</body>
</html>