<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2975f0;" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/}">O' Brien Task</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">Home <span class="sr-only">(current)</span></a>
            </li>
<!--            <li class="nav-item" th:if="${session.userSession!=null}">-->
<!--                <a class="nav-link" th:href="@{new-task}">New Task</a>-->
<!--            </li>-->

            <li class="nav-item" th:if="${session.userSession==null}">
                <a class="nav-link" th:href="@{signup}">Sign Up</a>
            </li>

            <li class="nav-item" th:if="${session.userSession==null}">
                <a class="nav-link"  th:href="@{login}">Login</a>
            </li>
            <li class="nav-item" th:if="${session.userSession!=null}">
                <a class="nav-link" th:href="@{/log-out}" th:text="Logout"></a>
            </li>
            <li class="nav-item" >
                <svg viewBox="0 0 24 24" class="ic" width="24" height="24"><use xlink:href="https://www.jumia.com.ng/assets_he/images/i-icons.01347306.svg#shopping-cart"></use></svg>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" >
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item " th:if="${session.userSession}">
                    <a class="nav-link text-warning" th:text="User+ ': ' + ${session.userSession.toString()}"></a>
                </li>
            </ul>

            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn bg-dark text-white my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
</nav>